@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Custom styles */
@theme {
  /* main colors */
  --color-Accent: #a18168;

  /* neutral colors*/
  --color-Dark-Gray: #707070;
  --color-Gray: #d8d8d8;
  --color-Light-Gray: #efefef;
}

html {
  font-family: "DM Sans", sans-serif;
}

html.dark {
  background-color: #121212;
}